@model DuoLingQCombiner.Models.Word

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Word</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NativeLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NativeLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForeignLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForeignLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfSpeech)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfSpeech)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
